<div id="<%= dom_id training_version %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Training:</strong>
    <%= training_version.training_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Version number:</strong>
    <%= training_version.version_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Valid for:</strong>
    <%= training_version.valid_for %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= training_version.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Release date:</strong>
    <%= training_version.release_date %>
  </div>
</div>
